# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.pypirc

#Virtualenv
bin/
include/
# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

#nano save files
*.save
*.save.*

#man pages cache
man/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

#pip stuff
pip-selfcheck.json

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Logs stuff:
*.log
*.log.*
# Sphinx documentation
docs/_build/

# PyBuilder
target/

#2to3 Backups
*.bak

# Pydev
.project
.pydevproject

#Sqlite Databases
*.db
*.sqlite

#Experiments
untracked/

#Coverage reports
coverage/

#virtualenv
local/
share/
